.Rproj.user
.Rhistory
.RData
.Ruserdata
Jacques.R
Rplot.pdf
Rplot03.pdf
Rplot04.pdf
Train.xlsx
analiseExploratoria_medidasResumo.R
atividade_indexar_base.R
atividadesala.R
compras_online.xlsx
project.Rproj
trabalhoJacques.Rmd
trabalhoJacques.pdf
visualizacaoGGPLOT2_versao1.R
graficos
Atividade sala
Atividade sala
